/*Configurações gerais*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #202020;
}

/*Cabeçalho*/
header {
    background-color: #202020;
    color: #fe3b00;
    text-align: center;
    padding: 1rem;
}

/*Container do video*/
#Videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/*Card do video*/
.Video-Card {
    width: 360px;
    height: 620px;
    margin: 10px;
    border: 2px solid #FE5000;
    padding: 10px;
    text-align: center;
    color: #FE5000;
}